h1{
 	text-align: center;
 	letter-spacing: 2px;
}

 h2{
 	letter-spacing: 1.5px;
 }
 
 .language-button{
 	float: right;
 	margin: 0px 2px;
 }
 
 .gridStyle{
 	margin: 10px 0px;
 }
 
 .gridStyle div img{
 	height: 100px;
 	margin: 2px 2px;
 }

 div #sellerPhoto{
 	height: 150px;
 	width: auto;
 	display: block;
    margin-left: auto;
    margin-right: auto;

 }
.tabs{
	margin: 10px 0px;
}

.alert-info{
	margin: 10px 10px;
}