h1{
 	text-align: center;
 	letter-spacing: 2px;
 }

 h2{
 	text-align: center;
 }
 
 .language-button{
 	float: right;
 	margin: 0px 3px;
 }
 
 .gridStyle{
 	margin: 10px 0px;
 }
 
 .gridStyle div img{
 	height: 100px;
 	margin: 2px 2px;
 }

 div #sellerPhoto{
 	height: 150px;
 	width: auto;
 	display: block;
    margin-left: auto;
    margin-right: auto 

 }