<!--Upplýsingar sem birtast um product-->
<!--col-sm-8 col-md-12 col-xs-6

col-xs-4 col-lg-4-->
<div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                    <img id="productPhoto" class="group list-group-image" src={{info.imagePath}} alt="{{info.name| translate}}"/>                
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
						<span translate="products.Name"></span>: {{info.name}}</h4>
                    <p class="group inner list-group-item-text">
                        <span translate="products.Category"></span>: {{info.category}}</p>
                    <p class="group inner list-group-item-text">
                        <span translate="products.QuantitySold"></span>: {{info.quantitySold}}</p>
                    <p class="group inner list-group-item-text">
                        <span translate="products.QuantityInStock"></span>: {{info.quantityInStock}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                <span translate="products.Price"></span>: {{info.price}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-primary" ng-click="$parent.onEditProduct(info)">
                                <i class="fa fa-plus" />
                                <span translate="products.Edit" /> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>