<!--Upplýsingar sem birtast um productið-->

<!--MUNA TRANSLATE-A
<i class="fa fa-plus" />
	<span translate="products.Title" />
-->
<div id ="ProductBox">
<p>
<span translate="products.Name"></span>: {{mockproduct.name}}
</p>

<p>
<span translate="products.Category"></span>: {{mockproduct.category}}
</p>

<p>
<span translate="products.Price"></span>: {{mockproduct.price}}
</p>

<p>
<span translate="products.QuantitySold"></span>: {{mockproduct.quantitySold}}
</p>

<p>
<span translate="products.QuantityInStock"></span>: {{mockproduct.quantityInStock}}
</p>

</div>
		   