<div>
		<!--<label translate="sellers.ChangeLanguage"></label>-->
	<button class="btn btn-primary language-button" ng-click="changeLanguage('is')">
		<i class="fa fa-plus" />
		<span translate="sellers.Icelandic" />
	</button>

		<button class="btn btn-primary language-button" ng-click="changeLanguage('en')">
		<i class="fa fa-plus" />
		<span translate="sellers.English" />
	</button>

	<button class="btn btn-primar" ng-click="back()">
		<i class="fa fa-plus" />
		<span translate="sellerdetails.Back" />
	</button>

	<img id="sellers-pic" ng-src="{{seller.imagePath}}" alt="Picture of a seller"/>

	<div>
		<h2>{{seller.name}}</h2>
		<h3>{{seller.category}}</h3>
	</div>

	<button class="btn btn-primary" ng-click="onEditSeller()">
		<i class="fa fa-plus" />
		<span translate="sellerdetails.Edit" /> 
	</button>
	<button class="btn btn-primary" ng-click="onAddProduct()">
		<i class="fa fa-plus" />
		<span translate="products.Add" /> 
	</button>
</div>
<!-- https://angular-ui.github.io/bootstrap/ -->
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="All products" >
		<div ng-repeat="p in products">
			<product-info info="p"></product-info>
		</div>
	</uib-tab>
    <uib-tab index="1" heading="Top 10">
		<div ng-repeat="t in topProducts">
			<product-info info="t"></product-info>
		</div>
	</uib-tab>
  </uib-tabset>


