<div>
		<!--<label translate="sellers.ChangeLanguage"></label>-->
	<button class="btn btn-primary" ng-click="changeLanguage('is')">
		<i class="fa fa-plus" />
		<span translate="sellers.Icelandic" />
	</button>

		<button class="btn btn-primary" ng-click="changeLanguage('en')">
		<i class="fa fa-plus" />
		<span translate="sellers.English" />
	</button>

	<button class="btn btn-primary" ng-click="back()">
		<i class="fa fa-plus" />
		<span translate="sellerdetails.Back" />
	</button>

	<img ng-src="{{seller.imagePath}}" alt="Picture of a seller"/>

	<div>
		<h2>{{seller.name}}</h2>
		<h3>{{seller.category}}</h3>
	</div>

	<button class="btn btn-primary" ng-click="onEditSeller()">
		<i class="fa fa-plus" />
		<span translate="sellerdetails.Edit" /> 
	</button>
</div>
<product-info>
EMTPY
</product-info>   
<!-- https://angular-ui.github.io/bootstrap/ -->
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="All products">Here we display all the products</uib-tab>
    <uib-tab index="1" heading="Top 10">Top 10 products</uib-tab>
  </uib-tabset>


