<form name="addProductForm" novalidate ng-submit="onSubmit()">
	<fieldset>
		<input type="text"
			name="name"
			ng-model="product.name" 
			placeholder="{{'products.Name' | translate}}"
			required
			ng-maxlength="32" />

		<input type="number"
			name="price"
			ng-model="product.price" 
			placeholder="{{'products.Price' | translate}}"
			required
			ng-maxlength="32" />

		<input type="number"
			name="quantitySold"
			ng-model="product.quantitySold" 
			placeholder="{{'products.QuantitySold' | translate}}"
			required
			ng-maxlength="32" />

		<input type="number"
			name="quantityInStock"
			ng-model="product.quantityInStock" 
			placeholder="{{'products.QuantityInStock' | translate}}"
			required
			ng-maxlength="32" />

		<input type="url"
			name="imagepath"
			ng-model="product.imagePath" 
			placeholder="{{'products.ImagePath' | translate}}" 
			pattern="https?://.+"/>

		<div ng-show="addProductForm.name.$invalid">
			<small>Name must have at least 1 letter and less than 33 letters</small>
		</div>


		<div ng-show="addProductForm.imagepath.$invalid">
			<small>The image path must start with http://</small>
		</div>

		<button type="submit" class="btn btn-primary" ng-click="onSubmitProduct()">
			<i class="fa fa-plus" />
			<span translate="seller-dlg.Confirm" />
		</button>

		<button class="btn btn-primary" ng-click="onCancel()">
			<i class="fa fa-plus" />
			<span translate="seller-dlg.Cancel" />
		</button>
	</fieldset>
</form>