<form name="editForm">
<input type="text"
	ng-model="seller.name" placeholder="Name">

<input type="text"
	ng-model="seller.category" placeholder="Category" />

	<input type="text"
	ng-model="seller.imagePath" placeholder="Paste image path here..." />

<button type="submit" class="btn btn-primary" ng-click="onOk()">
	<i class="fa fa-plus" />
	<span translate="seller-dlg.Confirm" />
</button>

<button class="btn btn-primary" ng-click="onCancel()">
	<i class="fa fa-plus" />
	<span translate="seller-dlg.Cancel" />
</button>
</form>