<form name="editProductForm" novalidate ng-submit="onSubmit()">
	<fieldset>
		<input type="text"
			name="name"
			ng-model="product.name" 
			placeholder="{{'products.Name' | translate}}"
			required
			ng-maxlength="32" />
		<input type="text"
			name="category"
			ng-model="product.category" 
			placeholder="{{'products.Category' | translate}}"
			required
			ng-maxlength="32" />

		<input type="number"
			name="price"
			ng-model="product.price" 
			placeholder="{{'products.Price' | translate}}"
			required
			ng-maxlength="32" />

		<input type="number"
			name="quantitySold"
			ng-model="product.quantitySold" 
			placeholder="{{'products.QuantitySold' | translate}}"
			required
			ng-maxlength="32" />

		<input type="number"
			name="quantityInStock"
			ng-model="product.quantityInStock" 
			placeholder="{{'products.QuantityInStock' | translate}}"
			required
			ng-maxlength="32" />

		<input type="url"
			name="imagepath"
			ng-model="product.imagePath" 
			placeholder="{{'products.ImagePath' | translate}}" 
			pattern="https?://.+"/>

		<div ng-show="editProductForm.name.$invalid">
			<small><span translate="seller-dlg.Messages.NameValidate" /></small>
		</div>

		<div ng-show="addProductForm.category.$invalid">
			<small><span translate="seller-dlg.Messages.CategoryValidate" /></small>
		</div>

		<div ng-show="editProductForm.price.$invalid">
			<small><span translate="seller-dlg.Messages.PriceValidate" /></small>
		</div>

		<div ng-show="editProductForm.quantityInStock.$invalid">
			<small><span translate="seller-dlg.Messages.QuantityInStockValidate" /></small>
		</div>

		<div ng-show="editProductForm.quantitySold.$invalid">
			<small><span translate="seller-dlg.Messages.QuantitySoldValidate" /></small>
		</div>

		<div ng-show="editProductForm.imagepath.$invalid">
			<small><span translate="seller-dlg.Messages.ImagePathValidate" /></small>
		</div>
		<br/>
		
		<button type="submit" class="btn btn-primary" ng-click="onSubmitProduct()">
			<i class="fa fa-plus" />
			<span translate="seller-dlg.Confirm" />
		</button>

		<button class="btn btn-primary" ng-click="onCancel()">
			<i class="fa fa-plus" />
			<span translate="seller-dlg.Cancel" />
		</button>
	</fieldset>
</form>