<form name="editForm" novalidate>
	<fieldset>
		<input type="text"
			name="name"
			ng-model="seller.name" 
			placeholder="{{'seller-dlg.Name' | translate}}"
			required
			ng-maxlength="32" />
		<input type="text"
			name = "category"
			ng-model="seller.category" 
			placeholder="{{'seller-dlg.Category' | translate}}"
			required
			ng-maxlength="32" />

		<input type="url"
			name="imagepath"
			ng-model="seller.imagePath" 
			placeholder="{{'seller-dlg.Imagepath' | translate}}" 
			pattern="https?://.+"/>

		<div ng-show="editForm.name.$invalid">
			<small><span translate="seller-dlg.Messages.NameValidate" /></small>
		</div>

		<div ng-show="editForm.category.$invalid">
			<small><span translate="seller-dlg.Messages.CategoryValidate" /></small>
		</div>

		<div ng-show="editForm.imagepath.$invalid">
			<small><span translate="seller-dlg.Messages.ImagePathValidate" /></small>
		</div>

		<button type="submit" class="btn btn-primary" ng-click="onSubmit()">
			<i class="fa fa-plus" />
			<span translate="seller-dlg.Confirm" />
		</button>

		<button class="btn btn-primary" ng-click="onCancel()">
			<i class="fa fa-plus" />
			<span translate="seller-dlg.Cancel" />
		</button>
	</fieldset>
</form>